@media screen and (max-width: 780px) {
  .hederList {
    display: none;
  }
  .firstTexts{
    width: 100%;
  }

  .firstPic {
    display: none;
  }
   .vector9{
      display: none;
   }  
  .menuIcon{
    display: initial;
    
}
 /* .menuIcon:hover + .mobileMenu{
  display: initial;
} */
.mobileMenu{
  display: initial;
}
.iconMenu{
  display: none;
}
.mobileList li{
  list-style-type: none; 
}
.vector10{
  display: none;
}
.imgList{
  flex-wrap: wrap;
}
.vector9{
  display: none;
  }
  .twoImages{
    display: none;
  }
  .secondItem{
    display: none;
  }
  .imgOne{
    display: none;
  }
  .imgTwo{
    display: none;
  }
  .chooseUs{
    margin-left: 10%;
  }
  .imgRec{
    display: none;
  }
  .usTwo{
    top: 102%;
    left: 5%;
  }
  .ourTeam{
    font-size: 32px;
    line-height: 31px;
  }
 
  .itemss{
    flex-wrap: wrap;
  }
 
  .imgRecPngOne{
    display: none;
  }
  .imgRecPngTwo{
    display: none;
  }
  .aboutUs{
    margin-left: 10%;
  }
  .imgRecPngThree{
    display: none;

  }
  .itemThirdOne{
    display: none;
  }
  .sixthItem{
    display: flex;
    flex-wrap: wrap;
  }
  .sixthItemOne{
    margin-bottom: 10px;
  }
  .eighthItemFourImgThree{
    display: none;
  }
  .eighthItemFourImgOne{
    display: none;
  }
  .eighthItemFourImgTwo{
    display: none;
  }
  .usTwo{
    display: none;
  }
  .itemThirdTwo{
    text-align: center;
  }
  .itemThirdTwoDiv{
    display: none;
  }
  .itemThirdTwopTwo{
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 31px;
  }
  .fifthItemOne{
    display: none;
  }
  .fifthItemThree{
    display: none;
  }
  .fifthItemTwoP1{
    margin-top: 9%;
    align-self: baseline;
    text-align-last: center;
  }
  .fifthItemTwoPic2{
  }
  .fifthItem{
    height: 380px;
  }
  .sevenItemPic{
    display: none;
  }
  .sevenFormInput{
    width: 200px;
    height: 56px;
    border:solid;
  }
  .sevenFormSum{
    width: 86px;
    height: 34px;
  }
  .sevenForm{
    margin-bottom: 31px;
  }
}

