@media screen and (max-width: 780px) {
  .hederList {
    display: none;
  }

  .firstPic {
    display: none;
  }
  .vector9{
      display: none;
  }
  .menuIcon{
    display: initial;
    
}
.menuIcon:hover + .mobileMenu{
  display: initial;
}
.iconMenu{
  display: none;
}
}
