#contenier {
  /* margin-left: 150px; */
}
.head {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}
.hederList li {
  display: inline;
  list-style-type: none;
  margin-left: 40px;
  font-family: "Arial";
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}
.hederList {
  margin-top: 39px;
}
.pics li {
  display: inline;
  margin-left: 40px;
  list-style-type: none;
}
.pics {
  margin-top: 29px;
  display: flex;
}
/* .hederList li:hover {
  color: cadetblue;
} */
.gobo {
  margin-bottom: 37.3px;
  margin-top: 37px;
}
.firsText {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
  margin: 0px;
  margin-left: 14%;
  margin-top: 200px;
}
.firstTexts {
  background: rgba(247, 246, 254, 1);
  height: 700px;
  width: 85%;
  /* margin-left: 14%; */
  position: relative;
}
.firsText span {
  color: crimson;
}
.secondText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7d7c7c;
  margin-top: 17px;
  margin-left: 14%;
}
.secText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7d7c7c;
  margin-top: 17px;
  margin-left: 14%;
}
.brClass {
  margin-right: 50px;
}
.liList {
  display: inline;
  list-style-type: none;
  display: flex;
  margin-left: 10%;
}
.liList li {
  margin-left: 16px;
}
.liText {
  font-family: "Arial";
  font-size: 16px;
  color: #191c51;
  margin-top: 5px;
}
.firstItem {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.ellips {
  width: 172.72px;
  height: 155.97px;
  position: absolute;
  border-radius: 30px;
  background-color: white;
  bottom: 60px;
  left: -85px;
}
.el6img {
  position: relative;
  margin-left: 60px;
  margin-top: 37px;
}
.gr225 {
  position: relative;
  margin-left: 22px;
  margin-bottom: 75px;
  border-radius: 30px;
}
.jobDone {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-left: 27px;
  margin-top: 5px;
  color: #191c51;
}
.firstPic {
  position: relative;
}
.imgList {
  display: inline;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 87px;
  margin-left: 10px;
}
.thirdItem {
  margin-top: 75px;
}
.headFirst {
  display: flex;
  justify-content: space-around;
  width: 80%;
  background: rgba(247, 246, 254, 1);
}
.secondDiv {
  padding: 0px;
  margin-right: 50px;
}
.secondItem {
  margin-top: 85.82px;
}
.twoImages {
  position: relative;
  margin-left: 13%;
}
.imagerec {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
}
.imagerec2 {
  position: absolute;
  z-index: 2;
  top: 115px;
  left: -7%;
}
.liLists {
  display: inline;
  list-style-type: none;
  display: flex;
  margin-left: 70px;
}
.liTexts {
  font-family: "Arial";
  font-size: 16px;
  color: #191c51;
  margin-top: 5px;
  margin-left: 10px;
}
.menuIcon {
  display: none;
}
.mobileMenu {
  display: none;
}
.radPic {
  border-radius: 30px;
}
.firstPic {
  background-color: rgba(247, 246, 254, 1);
  height: 500px;
}
.firstellMenu {
  width: 4px;
  height: 4px;
  background: rgba(254, 60, 81, 1);
  border-radius: 2px;
}
.vector9 {
  position: absolute;
  top: -104px;
  left: 106px;
  height: 750px;
}
/* .circyle{
  width: 32.45px;
  height: 32.45px;
  border-radius: 16px;
  background: rgba(255, 248, 248, 1);
  position: absolute;
} */
.watchImg {
  position: relative;
}

.secondLiLists {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 337px;
  left: 18%;
  display: inline;
  list-style-type: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 19px;
  color: rgba(25, 28, 81, 1);
}
.secondLiTexts {
  margin-left: 10px;
  margin-top: 5px;
}
.thirdItem {
  display: flex;
  justify-content: space-between;
  height: 585px;
}
.aboutUs {
  margin-right: 20%;
}
.abUs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  color: rgba(255, 52, 66, 1);
}
.secondText{
font-family: Arial, Helvetica, sans-serif;
font-style: Medium;
font-size: 32px;
line-height: 46px;
line-height: 109%;
color: rgba(0, 0, 0, 1);
margin:0px;
margin-top:8px;
}
.thirdText{
font-family: Arial, Helvetica, sans-serif;
font-style: Regular;
font-size: 16px;
line-height: 26px;
line-height: 138%;
color: rgba(125, 124, 124, 1);
margin-top: 8px;
}
.contText{
font-family: Arial, Helvetica, sans-serif;
font-style: Regular;
font-size: 16px;
line-height: 26px;
line-height: 138%;
color: rgba(125, 124, 124, 1);
margin-top: 21px;
}
.Js{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top:-12px ;
}
.ceo{
  font-family: Arial, Helvetica, sans-serif;
  font-style: Regular;
  font-size: 10px;
  line-height: 26px;
  color: rgba(125, 124, 124, 1);
  margin-top:-18px;

}
.ourServOne{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 52, 66, 1);
  align-items:center;
}
.ourServTwo{
  margin-top: 31px;
  margin-left: -11%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: medium;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}
.itemss{
  margin-top: 51px;
  display: flex;
  justify-content: space-around;
}
.ourSer{
  display: flex;
  justify-content: center;
}
.webDevOne{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(26, 39, 68, 1);
}
.webOne{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: rgba(89, 89, 84, 1);
}
.whyChUs{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 52, 66, 1);
  margin: 0px;

}
.ourTeam{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  margin-top: 8px;
}
.wePro{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: rgba(89, 89, 84, 1);
  margin-top: 8px;
}
.chooseUs{
  margin-top: 20%;
  display: flex;
}
.usTwoUl{
  display: inline;
  list-style-type: none;
}
.usTwo{
  width: 322px;
  height: 237px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 10px;
  background-color:  rgba(255, 255, 255, 1);
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  }
  .chooseUsTwo{
    display: flex;
  }
  .usTwoUlLi{
    display: inline;
    list-style-type: none;
    line-height: 30px;
  }
  .usOneDiv{
    margin-top: 41px;
  }
  .usTwoDiv{
    margin-top: 12px;
  }

 