.head {
  display: flex;
  justify-content: space-around;
}
.hederList li {
  list-style-type: none;
  margin-left: 40px;
  font-family: "Arial";
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hederList {
  margin-top: 39px;
  display: flex;
}
.pics li {
  display: inline;
  margin-left: 40px;
  list-style-type: none;
}
.pics {
  margin-top: 29px;
  display: flex;
}
/* .hederList li:hover {
  color: cadetblue;
} */
.gobo {
  margin-bottom: 37.3px;
  margin-top: 37px;
}
.firsText {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: #000000;
  margin: 0px;
  /* margin-left: 14%; */
  margin-top: 200px;
}
.firstTexts {
  background: rgba(247, 246, 254, 1);
  height: 713px;
  width: 85%;
  /* margin-left: 14%; */
  position: relative;
}
.firsText span {
  color: crimson;
}

.brClass {
  margin-right: 50px;
}
.liList {
  display: inline;
  list-style-type: none;
  display: flex;
  margin-left: 6%;
  padding: 0px;
  margin: 0px;
}
.liList li {
  /* margin-left: 16px; */
  /* padding: 0px; */
}
.liText {
  font-family: "Arial";
  font-size: 16px;
  color: #191c51;
  margin-top: 5px;
}
.firstItem {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.ellips {
  width: 172.72px;
  height: 155.97px;
  position: absolute;
  border-radius: 30px;
  background-color: white;
  bottom: 60px;
  left: -85px;
}
.el6img {
  position: relative;
  margin-left: 60px;
  margin-top: 37px;
}
.gr225 {
  position: relative;
  margin-left: 22px;
  margin-bottom: 75px;
  border-radius: 30px;
}
.jobDone {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-left: 27px;
  margin-top: 5px;
  color: #191c51;
}
.firstPic {
  position: relative;
}
.imgList {
  display: inline;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 87px;
  margin-left: 10px;
}
.thirdItem {
  margin-top: 75px;
}
.headFirst {
  display: flex;
  justify-content: space-around;
  width: 80%;
  background: rgba(247, 246, 254, 1);
}
.secondDiv {
  padding: 0px;
  margin-right: 50px;
}
.secondItem {
  margin-top: 85.82px;
}
.twoImages {
  position: relative;
  margin-left: 13%;
}
.imagerec {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
}
.imagerec2 {
  position: absolute;
  z-index: 2;
  top: 115px;
  left: -7%;
}
.liLists {
  display: inline;
  list-style-type: none;
  display: flex;
  margin-left: 70px;
}
.liTexts {
  font-family: "Arial";
  font-size: 16px;
  color: #191c51;
  margin-top: 5px;
  margin-left: 17px;
}
.menuIcon {
  display: none;
}
.mobileMenu {
  display: none;
}
.radPic {
  border-radius: 30px;
}
.firstPic {
  background-color: rgba(247, 246, 254, 1);
  height: 500px;
}
.firstellMenu {
  width: 4px;
  height: 4px;
  background: rgba(254, 60, 81, 1);
  border-radius: 2px;
}
.vector9 {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 45px;
}
.watchImg {
  position: relative;
}
.secondLiLists {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 337px;
  left: 18%;
  display: inline;
  list-style-type: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 19px;
  color: rgba(25, 28, 81, 1);
}
.secondLiTexts {
  margin-left: 10px;
  margin-top: 5px;
}
.thirdItem {
  display: flex;
  justify-content: space-between;
  height: 585px;
}
.aboutUs {
  margin-right: 20%;
  position: relative;
}
.abUs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  color: rgba(255, 52, 66, 1);
}
.secondText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: Medium;
  font-size: 32px;
  line-height: 46px;
  line-height: 109%;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  margin-top: 8px;
}
.thirdText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  line-height: 138%;
  color: rgba(125, 124, 124, 1);
  margin-top: 8px;
}
.contText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  line-height: 138%;
  color: rgba(125, 124, 124, 1);
  margin-top: 21px;
}
.Js {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: -12px;
}
.ceo {
  font-family: Arial, Helvetica, sans-serif;
  font-style: Regular;
  font-size: 10px;
  line-height: 26px;
  color: rgba(125, 124, 124, 1);
  margin-top: -18px;
}
.ourServOne {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 52, 66, 1);
  align-items: center;
}
.ourServTwo {
  font-family: Arial, Helvetica, sans-serif;
  font-style: medium;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  margin-top: -1%;
}
.itemss {
  margin-top: 55px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 10%;
}
.ourSer {
  text-align: center;
}
.webDevOne {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(26, 39, 68, 1);
}
.webOne {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: rgba(89, 89, 84, 1);
}
.whyChUs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 52, 66, 1);
  margin: 0px;
}
.ourTeam {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  margin-top: 8px;
}
.wePro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: rgba(89, 89, 84, 1);
  margin-top: 8px;
}
.chooseUs {
  margin-top: 20%;
  display: flex;
  position: relative;
}
.usTwoUl {
  display: inline;
  list-style-type: none;
}
.usTwo {
  width: 322px;
  height: 237px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  /* background-color: cadetblue; */
  display: flex;
  position: absolute;
  top: 25%;
  left: 50%;
}
.chooseUsTwo {
  display: flex;
}
.usTwoUlLi {
  display: inline;
  list-style-type: none;
  line-height: 30px;
}
.usOneDiv {
  margin-top: 41px;
}
.usTwoDiv {
  margin-top: 12px;
}
.chooseUs {
  justify-content: space-around;
}
.chooseUsOne {
  position: relative;
}
.imgOne {
  position: absolute;
  top: 18%;
  left: -56%;
}
.imgTwo {
  position: absolute;
  left: -55%;
}
.itemss div {
  width: 255px;
  height: 269px;
  border-radius: 10px;
  background: rgb(236, 228, 228);
  position: relative;
}
.imgItems {
  position: absolute;
  top: 10%;
  left: 5%;
}
/* .itemss p{
  position: absolute;
  top: 24%;
  box-shadow: 4px 4px 20px 0px rgba(231, 224, 224, 0.25);

} */
.webOne {
  position: absolute;
  top: 35%;
  left: 5%;
}
.webDevOne {
  position: absolute;
  top: 24%;
  left: 5%;
}

.itemss > div {
  box-shadow: 4px 4px 20px 0px rgba(66, 57, 57, 0.25);
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}
.imgRecPngOne {
  position: absolute;
  z-index: 2;
  top: 37%;
  left: 138%;
}
.imgRecPngTwo {
  position: absolute;
  top: 15%;
  left: 90%;
  width: 294px;
}
.imgRecPngThree {
  position: absolute;
  top: -5%;
  z-index: 3;
  left: 152%;
}
.secondTexts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /* margin-left: 14%; */
  color: rgba(125, 124, 124, 1);
}

.fifthItem {
  background-color: rgba(247, 246, 254, 1);
  height: 492px;
  margin-top: 10%;
  display: flex;
}
.fifthItemOne {
  position: relative;
}
.fifthItemPic1 {
  /* position: absolute; */
  /* top: 135px;
  left: 189px; */
}
.fifthItemPic2 {
  /* position: absolute; */
  /* top: 212px;
  left: 374px; */
}
.fifthItemPic3 {
  /* position: absolute; */
  /* top: 212px;
  left: 374px; */
}
.fifthItemOne {
  flex: 1;
  display: inline-grid;
}
.fifthItemTwo {
  position: relative;
  flex: 1;
}
.fifthItemThree {
  flex: 1;
  display: inline-grid;
}
.fifthItemTwoP1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  margin-top: 28%;
}
.fifthItemTwoP2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0px;
  color: rgba(107, 107, 107, 1);
  margin-top: 5%;
}
.fifthItemTwoPic2 {
  position: absolute;
  right: 125px;
  cursor: pointer;
}

.fifthItemThree {
  position: relative;
}
.fifthItemThreePic1 {
  top: 52px;
  left: 25px;
  position: absolute;
}
.fifthItemThreePic2 {
  position: absolute;
  right: 66px;
  bottom: 248px;
}
.fifthItemThreePic3 {
  position: absolute;
  bottom: 113px;
}
.fifthItemPic1 {
  position: absolute;
  left: 98px;
  top: 86px;
}
.fifthItemPic2 {
  position: absolute;
  right: 36px;
  top: 153px;
}
.fifthItemPic3 {
  position: absolute;
  bottom: 89px;
  right: 148px;
}

.liFirst {
  margin: 0px;
  position: relative;
  cursor: pointer;
}
.liImage {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.textInIage23 {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.texts {
  margin-left: 17%;
}

.itemThird {
  display: flex;
  margin-top: 87px;
}
.itemThirdTwo {
  position: relative;
  right: 23px;
  flex: 1;
}
.itemThirdOne {
  display: flex;
  flex: 1;
  position: relative;
}
.img1 {
  position: absolute;
  right: -30px;
  bottom: -103px;
}
.img2 {
  position: absolute;
  height: 301px;
  right: -31px;
  z-index: -1;
}
.img3 {
  position: absolute;
  right: -31px;
  z-index: 1;
}
.itemThirdTwopFive {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.itemThirdTwoDiv {
  display: flex;
}
.itemThirdTwoPicture {
  height: 29px;
  width: 53px;
  margin-top: 10px;
  margin-left: 37px;
}
.img2 {
  position: absolute;
  height: 301px;
  right: -31px;
}
.itemThirdDiv2 {
  display: flex;
  justify-content: center;
}
.itemThirdOnePic1 {
  height: 308px;
  position: absolute;
  top: 50px;
  z-index: 2;
  left: 37px;
}
.itemThirdDiv1 {
  position: absolute;
  left: 217px;
}
.itemThirdDiv2Pic {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.itemThirdTwopOne {
  color: rgba(255, 52, 66, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
}
.itemThirdTwopTwo {
  color: rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin: 0px;
}
.itemThirdTwopThree {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(125, 124, 124, 1);
  font-size: 16px;
}
.itemThirdTwopFour {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(125, 124, 124, 1);
  font-size: 16px;
}
.itemThirdOne {
  margin-left: 5%;
}
.itemThirdOnePic {
  position: absolute;
  z-index: 20;
  left: 4%;
  height: 319px;
}
.whatImages {
  margin-left: 20%;
  position: relative;
}
.whatchItem {
  display: flex;
  justify-content: center;
  margin-left: 7px;
}
.whatchPic {
  margin-right: 10px;
  height: 50px;
}
.ourSer {
  margin-top: 19%;
}
.vector10 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
}
.gr216 {
  cursor: pointer;
}
.aboutCircile {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  margin: 0px;
  background-color: rgba(247, 246, 254, 1);
}
.menuUlItem {
  display: flex;
}
.menuList {
  margin: 0px;
}
.menuList:first-child div {
  background-color: rgba(254, 60, 81, 1);
}
.itemss > :first-child {
  background-color: rgba(254, 60, 81, 1);
}
.itemss > :first-child .webDevOne {
  color: white;
}
.itemss > :first-child .webOne {
  color: white;
}
.itemssProvider1 {
  background-color: rgba(254, 60, 81, 1);
}
.latStay {
  text-align: center;
  margin-top: 10%;
}
.latestNew {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(255, 52, 66, 1);
}
.stayWith {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  margin-top: 0px;
}
.sixthItem {
  margin-top: 44px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 10%;
}
.sixthItemOneP1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(255, 52, 66, 1);
}
.sixthItemOneP2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgba(25, 28, 81, 1);
}
.sixthItemOneP3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(89, 89, 84, 1);
}
.sixthItemOne {
  width: 315px;
  height: 387px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 20px 0px rgb(66 57 57 / 25%);
}
.sixthItemOnePic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 10px;
  width: 285px;
}
.sixthItemOneDiv {
  margin-left: 12px;
}
.seventhItem {
  display: none;
  text-align: center;
  margin-top: 99px;
  position: relative;
}
.seventhItemP {
  color: rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.seventhItemPP {
  color: rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0px;
  margin-bottom: -91px;
  opacity: 0;
}
.sevenItemPic {
  margin-top: -67px;
  position: inherit;
  z-index: -1;
}
.sevenFormSum {
  width: 115px;
  height: 56px;
  border-top-left-radius: 252px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 252px;
  background: rgba(255, 52, 66, 1);
  border: 0px;
  box-shadow: 4px 4px 30px 0px rgba(208, 208, 208, 0.25);
  color: white;
  margin-left: -62px;
  cursor: pointer;
}
.input {
  height: 173px;
  width: 654px;
  background: linear-gradient(
    90deg,
    #fce8e9 2.02%,
    rgba(252, 232, 233, 0) 100.78%
  );
  border-radius: 20px;
  margin: auto;
  margin-top: 79px;
}
.inputText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.sevenForm {
  margin-left: 103px;
}
.sevenFormInput {
  width: 395px;
  height: 56px;
  border-top-left-radius: 84px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 84px;
  background: rgba(255, 255, 255, 1);
  border: 0px;
  text-align: center;
}
.eighthItem {
  display: flex;
  margin-top: 65px;
  justify-content: space-around;
  position: relative;
}
.eighthItemTwo > p {
  cursor: pointer;
}
.eighthItemTwo :hover {
  color: rgba(255, 52, 66, 1);
}
.eighthItemThree :hover {
  color: rgba(255, 52, 66, 1);
}
.eighthItemFour :hover {
  color: rgba(255, 52, 66, 1);
}
.eighthItemThree > p {
  cursor: pointer;
}
.eighthItemTwoP {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(23, 23, 33, 1);
}
.eighthItemTwoP2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(89, 89, 84, 1);
}
.eighthItemFour > p {
  cursor: pointer;
}
.eighthItemFourImgOne {
  position: absolute;
  height: 75px;
  bottom: -61px;
}
.eighthItemFourImgTwo {
  position: absolute;
  height: 67px;
  right: 0px;
  bottom: -59px;
}
.eighthItemFourImgThree {
  position: absolute;
  bottom: -18px;
}
.footerText {
  margin-top: 43px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(89, 89, 84, 1);
}
.phoneEmailPics {
  margin-right: 10px;
}
.showmenuList {
  transform: translateX(0);
}
.mobileList {
  display: none;
}
.showMobileList {
  display: block;
}
.mobileList {
  padding: 0px;
  cursor: pointer;
}
.mobileList :hover {
  color: rgb(36, 104, 109);
}
